html, body {
    height: 100%;
}

body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.player-container {
    background-color: rgb(76, 128, 141);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.center-text-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.round-status {    
    text-align: center;
    font-size: 24px;
    padding-bottom: 10px;
}

.score {
    text-align: center;
    font-size: 24px;
}

.computer-container {
    background-color: rgb(71, 52, 43);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.header-player,
.footer-computer {
    text-align: center;
    font-size: 24px;
    padding: 5px;
}

.icon-row {
    display: flex;
    justify-content: center;
    height: 300px;
}

.player-row {
    align-items: flex-start;
}

.computer-row {
    align-items: flex-end;
}

.icon {
    margin: 10px;
    position: relative;
    text-align: center;    
}

.icon-text {
    pointer-events: none;
    color: white;
    font-size: 24px;
    font-weight: 900;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon img {
    width: 200px;
    height: 200px;
    border: 1px solid white;
    transition: .15s;    
}

/* icon on-click styles */
.player-clicked,
.computer-clicked {
    transition: .15s;
}

.player-clicked {
    margin-top: 120px;
}

.computer-clicked {
    margin-bottom: 120px;    
}

.losing-icon {
    box-shadow: 0 0 50px red;
}

.winning-icon {
    box-shadow: 0 0 50px green;
}

.tying-icon {
    box-shadow: 0 0 50px yellow;
}